
*{
    
}
body {
    color: #222;
    Background: linear-gradient(to right, #d1d1d1 10vw,#ffffff 10vw 90vw, #d1d1d1 90vw);
}
    body.dark-mode {
        color: #EFEFF0;
        background: linear-gradient(to right, #36323D 10vw,#453F4D 10vw 90vw, #36323D 90vw);
    }

header {
    color: #222;
    background-color: #eaeaea;
}

    header.dark-mode2 {
        color: #eee;
        background-color: #242222;
    }
footer {   
    color: #222;
    background-color: #eaeaea;
}
    footer.dark-mode1 {
        color: #eee;
        background-color: #242222;
    }
.bodycl {
	font-size:18px;
	padding-top: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom:100px;
    position: relative;
    min-height: 100%;
}
.footcl {
    padding-left:6vw;
    padding-top:50px;
    font-size:1.5vh;
    position: absolute;
    left: -5.4vw;
    bottom: -4%;
    width: 110vw;
}
.headcl {
    font-size:20px;
    position: absolute;
    top: -0.5%;
    width: 110vw;
    left:-5.4vw;
}
a {
    color: #0033cc;
}
.tablep {
    margin-left:2%;
    margin-top: 20px;
    line-height: 33px;
    font-size: 18px;
}
.table1 {
    border: medium solid;
    border-collapse: collapse;
    margin-left: 2%;
}
    .table1.dark-mode {
        color: #EFEFF0;
        background-color: #453F4D;
        border-color: #7f7f7f;
    }
.c1f {
    text-indent: 100px;
    margin-top: 100px;
    line-height: 33px;
}
.c1 {
    text-indent: 100px;
    margin-top: 20px;
    line-height: 33px;
}
.f1{
    margin-left: 30px;
}
.clist {
    list-style-type: decimal;
    line-height: 40px;
}
.flmdesc {
}
.cimg1 {
    line-height: 15px;
}
.btn-toggle {
    position: absolute;
    top: -2%;
    right: 30px;
}
.c1im {
    margin-top: 108px;
    line-height: 15px;
}
.c2 {
    margin-right: 10px;
    margin-left: 10px;
}
.ifr1 {
    margin-top: 2%;
    width:60vw;
    height:33.75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ifr2 {
    width:60vw;
    height:33.75vw;
    margin-top:2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.c3 {
    text-align: center;
    margin-top: 15%;
}
.sketchfab-embed-wrapper {
    width:60vw;
    height:33.75vw;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hedh{
    text-align:center;
}
.c4 {
    text-align: center;
    margin-top: 2%;
}
.imgfilm{
    width:100px;
    height:150px;
    float:left;
}
